# VITE_API_BASE_URL=http://localhost:3000/api
VITE_API_BASE_URL=https://imminent-subway-seventy.ngrok-free.dev/api
VITE_LOCAL_API_URL=http://localhost:3000
VITE_PUBLIC_API_URL=https://quanlythuvienutt-production.up.railway.app
